<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<a routerLink="/home" >Home</a>&nbsp;&nbsp;
<a routerLink="/articles" >Articles</a>&nbsp;&nbsp;
<a routerLink="/animation" >Animation</a>&nbsp;&nbsp;
<a routerLink="/baseconvertor" >Baseconvertor</a>&nbsp;&nbsp;
<a routerLink="/bookapp" >Bookapp</a>&nbsp;&nbsp;
<a routerLink="/hero" >Heroapp</a>&nbsp;&nbsp;
<a routerLink="/datatable" >DataTable</a>&nbsp;&nbsp;
<a routerLink="/signin" >Signin</a>&nbsp;&nbsp;
<a routerLink="/tabs" >Tabs</a>&nbsp;&nbsp;
<a routerLink="/modal" >Modal</a>&nbsp;&nbsp;
<!--<a routerLink="/users" >Users</a>&nbsp;&nbsp;-->
<!--<a routerLink="/child" >Child</a>-->
<br>

<router-outlet></router-outlet>
<!--<app-child [myValue]="3+5"></app-child>-->